*{
    margin: 0;
    padding: 0;
}
/* google font use  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
}

.hidden{
    display: none;
}


/* shear style code */
.title{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}
.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 0px;
    color: #FFFFFF;
}
.width{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;
}
/* header section  */
.menu-section{
    background-color: #1A0B2E;
}
.menu-bar{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.logo{
    max-width: 115px;
    height: 95px;
}
.logo img{
    width: 100%;
    padding: 20px;
}
.menu-style{
    display: flex;
    gap: 32px;
    justify-content: center;
}
.menu-list{
    list-style: none;
    justify-content: center;
    padding: 40px 0px;
}
.menu-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.bouton{
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
}
.btn{
    background: linear-gradient(45deg,#FFEB3B,#E91E63,#9C27B0);
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
}
.btn:hover{
    background: transparent;
    border: 2px solid #00FF88;
    padding: 18px 28px;
    color: #00FF88;
}
/* banar section  */
.banar-section{
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.banar-contant{
    max-width: 850px;
    margin: 0 auto;
    padding: 75px 0;
}
.banar-img{
    background: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 450px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.banar-img img{
    width: 100px;
    padding: 80px;
}
/* hover efect  */
.banar-img:hover img{
    animation: spin 3s linear infinite;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* new badge part  */
.badge {
    width: 70px;
    font-size: 21px;
    position: absolute;
    bottom: 273px;
    left: 260px;
    background-color: #00FF88;
    margin: 0 auto;
    border-radius: 50px;
    padding: 5px;
    font-weight: 400;
}
.content{
    text-align: center;
    margin-top: 40px;
}
.banar-taitle{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}
.banar-tex{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 20px;
}
.btn-2{
    padding: 20px 30px;
    border-radius: 50px;
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background-color: transparent;
    margin-top: 15px;
    cursor: pointer;
}
.btn-2 i{
    color: #00FF88;
}
/* hover efect  */
.btn-2:hover{
    background: linear-gradient(45deg,#FFEB3B,#E91E63,#9C27B0);
    border: none;
    padding: 21px 31px;
    color: #FFFFFF;
}

/* about section  */
.about-section{
    background-color: #1A0B2E;
}
.about-content{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.about-title{
    font-size: 60px;
    font-weight: 900;
    padding: 10px 0px;
    color: #FFFFFF;
}
.about-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 0px;
    color: #FFFFFF;
}
.horizontal-line{
    max-width: 1200px;
    margin: 40px auto;
}
.counting{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.singel-counting h2{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    color: rgb(111, 202, 111);
}
.singel-counting p{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
/* choose section  */
.choose-section{
    background-color: #230E3D;
    padding: 100px 0px;
}
.choose-containt{
    max-width: 1200px;
    margin: 0 auto;
}
.choose-grid{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
}
.choose-card{
    padding: 20px;
    background-color: #351165;
    border-radius: 50px;
}
.card-1{
    grid-row: span 2;
    padding-top: 100px;
}
.card-2, .card-3, .card-4{
    grid-column: span 2;
}
.choose-card img{
    padding: 20px 0px;
}
.choose-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 0px;
}
.choose-card p{
    color: #ffffffb4;
    line-height: 25px;
}
/* feature section  */
.feature-section{
    background-color: #1A0B2E;
    padding-top: 50px;
}
.feature-contain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.feature-card{
    padding: 0px 0px;
    background-color: #301455;
    border-radius: 50px;
}
.feature-card iframe{
    border-radius: 50px 50px 0 0;
    height: 210px;
}
.card-content{
    padding: 20px;
}
.card-content h4{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 25px;
    padding-bottom: 10px;
}
.card-content p{
    color: #ffffffb4;
}
.clock{
    display: flex;
    gap: 5px;
    padding: 20px 0px;
}

/* challenge section  */
.challenge-section{
    background-color: #1A0B2E;
    padding: 90px 0px;
}
.challenge-card{
    display: flex;
    gap: 30px;
    background-color: #301455;
    border-radius: 50px;
    align-items: center;
    padding: 10px;
}
.challenge-img{
    padding: 20px;
}
.challenge-contant h3{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 10px 0px;
    
}
.challenge-contant p{
    color: #ffffffb4;
    line-height: 25px;
}
.socal{
    padding-top: 20px;
    display: flex;
    gap: 10px;

}
.socal img{
    border: 1px solid #ffffffb4;
    border-radius: 100%;
    padding: 10px;
}

/* footer section  */
.footer-section{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-logo{
    width: 250px;
    margin: 0 auto;
}
.footer-logo img{
    width: 100%;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
    margin: 0 auto;
}
.footer-icons img{
    width: 30px;
    padding: 10px;
}
.icons-1{
    display: flex;
    margin: 0 auto;
    width: 180px;
}
.icons-1 p{
    padding: 10px 5px;
    color: #ffffff;
}
.copy-right{
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

/* Small Devices Mobile */
@media screen and (max-width: 576px) {
    .banar-taitle, .about-title, .title {
        font-size: 36px;
    }
    /* responsive menu section  */
    .menu-bar {
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
        gap: 20px;
    }
    .hambar img{
        width: 30px;
        height: 30px;
        padding: 10px;
        margin-top: 20px;
    }
    .menu, .bouton{
        display: none;
    }
    .hidden{
        display: contents;
        justify-content: space-between;
    }
    .menu-list {
        padding: 10px 0;
    }
    /* responsive counting section  */
    .counting {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 10px;
    }
    .singel-counting h2{
    font-size: 35px;
    font-weight: 600;
    padding: 10px;
    color: #00FF88;
    }
    /* responsive choose section  */
    .choose-grid {
        grid-template-columns: 1fr;
    }
    .card-2, .card-3, .card-4 {
        grid-column: span 1;
    }
    /* responsive feature section  */
    .feature-contain {
        grid-template-columns: 1fr;
    }
    /* reponsive challenge section  */
    .challenge-card {
        flex-direction: column;
        text-align: center;
        padding: 30px 15px;
    }
    .socal{
        justify-content:  center;
    }
    /* responsive footer section  */
    .footer-icons {
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        gap: 1px;
    }
    .icons-1 {
        margin: 0;
        justify-content: center;
    }
    .footer-logo {
        width: 150px;
    }
    .copy-right {
        font-size: 16px;
        padding: 50px 0;
    }

    /* animation poart atometink rotate  */
    .banar-img img{
    animation: spin 3s linear infinite;
    }
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
    /* keyframes */
}
/* Medium Device  */
@media screen and (max-width: 992px) {
    .width {
        max-width: 90%;
        padding: 40px 0;
    }
    .menu-bar {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .bouton {
        justify-content: center;
        display: none;
    }
    .choose-grid {
        grid-template-columns: 1fr;
    }
    .card-2, .card-3, .card-4 {
        grid-column: span 1;
    }
    .feature-contain {
        grid-template-columns: 1fr;
    }
    .counting {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .footer-icons {
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
    }
}



