*{
    margin: 0;
    padding: 0;
}
/* google font use  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
}
/* shear style code */
.title{
    font-size: 48px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
}
.text{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 0px;
    color: #FFFFFF;
}
.width{
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0px;
}
/* header section  */
.menu-section{
    background-color: #1A0B2E;
}
.menu-bar{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.logo{
    max-width: 100px;
    height: 100px;
}
.logo img::after{
    background: linear-gradient(to right, #FD2FA4, #540D5B);
}
.logo img{
    width: 100%;
    padding: 20px;
}
.menu-style{
    display: flex;
    gap: 32px;
    justify-content: center;
}
.menu-list{
    list-style: none;
    justify-content: center;
    padding: 40px 0px;
}
.menu-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.bouton{
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
}
#btn{
    background: linear-gradient(45deg,#FFEB3B,#E91E63,#9C27B0);
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.banar-section{
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banar-contant{
    max-width: 850px;
    margin: 0 auto;
    padding: 75px 0;
}
.banar-img img{
    width: 100px;
    padding: 80px;
}
.banar-img{
    background: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 450px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

/* hover efect  */
.banar-img:hover img{
    /* transform: spin rotate(360deg) scale(1.2); */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.badge {
    /* position: absolute; */
    width: 70px;
    font-size: 21px;
    margin-top: 20px;
    position: relative;
    bottom: 283px;
    left: 106px;
    background-color: #00FF88;
    margin: 0 auto;
    border-radius: 50px;
    padding: 3px;
    font-weight: 400;
}
.content{
    text-align: center;
    margin-top: 40px;
}
.banar-taitle{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}
.banar-tex{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 20px;
}
#btn-2{
    /* background: linear-gradient(45deg,#FFEB3B,#E91E63,#9C27B0); */
    padding: 20px 30px;
    border-radius: 50px;
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background-color: #1A0B2E;
    margin-top: 15px;
}
#btn-2 i{
    color: #00FF88;
}
/* about section  */
.about-section{
    background-color: #1A0B2E;
}
.about-content{
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.about-title{
    font-size: 60px;
    font-weight: 900;
    padding: 10px 0px;
    color: #FFFFFF;
}
.about-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    padding: 10px 0px;
    color: #FFFFFF;
}
.horizontal-line{
    max-width: 1200px;
    margin: 40px auto;
}
.counting{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.singel-counting h2{
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    color: rgb(111, 202, 111);
}
.singel-counting p{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
/* choose section  */
.choose-section{
    /* background-color: #1A0B2E; */
    background-color: #230E3D;
    padding: 100px 0px;
}
.choose-containt{
    max-width: 1200px;
    margin: 0 auto;
}
.choose-grid{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 30px;
}
.choose-card{
    padding: 20px;
    /* background-color: #301455; */
    background-color: #351165;
    border-radius: 50px;
}
.card-1{
    grid-row: span 2;
    padding-top: 100px;
}
.card-2{
    grid-column: span 2;
}
.card-3{
    grid-column: span 2;
}
.card-4{
    grid-column: span 2;
}
.choose-card img{
    padding: 20px 0px;
}
.choose-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 0px;
}
.choose-card p{
    color: #ffffffb4;
    line-height: 25px;
}
/* feature section  */
.feature-section{
    background-color: #1A0B2E;
    padding-top: 50px;
}
.feature-contain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.feature-card{
    padding: 0px 0px;
    background-color: #301455;
    /* background-color: #1A0B2E; */
    border-radius: 50px;
}
.feature-card iframe{
    border-radius: 50px 50px 0 0;
    height: 210px;
}
.oma-go{
    padding: 20px;
}
.feature-card h4{
    font-size: 18px;
    font-size: 500;
    color: #FFFFFF;
    line-height: 25px;
}
.feature-card p{
    color: #ffffffb4;
}
.clock{
    display: flex;
    gap: 5px;
    padding: 20px 0px;
}

/* footer section  */
.footer-section{
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.footer-container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-logo{
    width: 250px;
    margin: 0 auto;
}
.footer-logo img{
    width: 100%;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 600px;
    margin: 0 auto;
}
.footer-icons img{
    width: 30px;
    padding: 10px;
}
.icons-1{
    display: flex;
    margin: 0 auto;
    width: 180px;
}
.icons-1 p{
    padding: 10px 5px;
    color: #ffffff;
}
.copy-right{
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
    padding: 100px 0px;
}

/* Extra Small Devices Mobile */
@media screen and (max-width: 576px) {
    .banar-taitle, .about-title, .title {
        font-size: 36px;
    }
    /* .width {
        max-width: 80%;
        padding: 40px 0;
    } */
    .menu-bar {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .bouton {
        justify-content: center;
    }
    .menu-style {
        flex-direction: column;
        gap: 10px;
    }
    .menu-list {
        padding: 10px 0;
    }
    /* .banar-img{
        width: 80%;
    } */
    .counting {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 10px;
    }
    .singel-counting h2{
    font-size: 35px;
    font-weight: 600;
    padding: 10px;
    color: #00FF88;
    }
    .choose-grid {
        grid-template-columns: 1fr;
    }
    .card-2, .card-3, .card-4 {
        grid-column: span 1;
    }
    .feature-contain {
        grid-template-columns: 1fr;
    }
    .footer-icons {
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        gap: 1px;
    }
    .icons-1 {
        margin: 0;
        justify-content: center;
    }
    .footer-logo {
        width: 150px;
    }
    .copy-right {
        font-size: 16px;
        padding: 50px 0;
    }

    /* DKJDFKJDLKSF  */
    
}

@media screen and (max-width: 992px) {
    .width {
        max-width: 90%;
        padding: 40px 0;
    }
    .menu-bar {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .bouton {
        justify-content: center;
    }
    .choose-grid {
        grid-template-columns: 1fr;
    }
    .card-2, .card-3, .card-4 {
        grid-column: span 1;
    }
    .feature-contain {
        grid-template-columns: 1fr;
    }
    .counting {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .footer-icons {
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
    }
}



