*{
    margin: 0;
    padding: 0;
}
/* google font use  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
}
.menu-section{
    background-color: #1A0B2E;
}
.menu-bar{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
}
.logo img::after{
    background: linear-gradient(to right, #FD2FA4, #540D5B);
}
.logo img{
    width: 100%;
    padding: 20px;
}
.menu-style{
    display: flex;
    gap: 32px;
    justify-content: center;
}
.menu-list{
    list-style: none;
    justify-content: center;
    padding: 40px 0px;
}
.menu-link{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}
.bouton{
    margin: 20px 0px;
    display: flex;
    justify-content: flex-end;
}
#btn{
    background: linear-gradient(45deg,#FFEB3B,#E91E63,#9C27B0);
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.banar-section{
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banar-contant{
    width: 550px;
    margin: 0 auto;
    padding: 100px;
}
.banar-img{
    /* width: 250px; */
    background: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 70px;
    background-size: contain;
}
.banar-img img{
    width: 200px;
}
.content{
    text-align: center;
    margin-top: 40px;
}
.banar-taitle{
    font-size: 80px;
    font-weight: 800;
    color: #FFFFFF;
}
.banar-tex{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    margin-bottom: 20px;
}
#btn-2{
    /* background: linear-gradient(45deg,#FFEB3B,#E91E63,#9C27B0); */
    padding: 20px 30px;
    border-radius: 50px;
    border: 1px solid green;
    font-size: 16px;
    font-weight: 600;
    color: green;
    background-color: #1A0B2E;
}

